<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>Mr.Singhania Restaurant Management</h1>
	</div>
	<a href = '{{url_for('allRestaurant') }}'>Enter Location or MealType</a>
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


		{% for r in restaurants %}
    <div class = 'nameAndPrice'>
		<span class = 'name'><p>{{r.restaurant_name}}</p></span>
		<span class = 'address'><p>{{r.restaurant_address}}</p></span>
	</div>

		{% endfor %}


		
		

</div>
</div>
	</body>




</html>