<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>Mr.Singhania Restaurant Management</h1>
	</div>

	<a href = '{{url_for('restaurantNew') }}'>Create New Restaurant</a>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


		{% for r in restaurants %}
    <div class = 'nameAndPrice'>
		<a href='{{url_for('restaurantMenu',restaurant_id = r.id)}}' > <span class = 'name'><p>{{r.name}}</p></span></a>
	</div>

	<div class = "editdeletepane">

	<a href='{{url_for('editRestaurant',restaurant_id = r.id)}}' >Edit</a>
	<a href='{{url_for('deleteRestaurant',restaurant_id = r.id )}}' >Delete</a>	
	</div>




		{% endfor %}


		
		

</div>
</div>
	</body>




</html>